body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFF6DC;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #61677A;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none; ;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
  }
  
  nav ul li a:hover {
    opacity: 0.7;
  }
  
  main {
    background-color: #D8D9DA;
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  .project {
    background-color: #61677A;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }